html, body, ul{
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -4
}

button {
  background: transparent;
  border: 0;
  display:  block;
}

button:hover {
  cursor: pointer;
}

input {
  border: none;
  border-bottom: 1px solid black;
}

.sidebar {
  background-color: #FFCC00;
  position: fixed;
  height: 100%;
  width: 11em;
  float: left;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid black;
  list-style: none;
}

.sidebar > li {
  background-color: white;
  font-size: 0.9em;
  width: 100%;
  margin-bottom: 0.5em;
}


.sidebar > li:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}


.sidebar-img-logo {
  padding-top: 2em;
  padding: 2em;
  width: 5em;
}

.mainpane {
  margin-left: 11em;
  overflow: hidden;
}

.btlogo {
  line-height: 0.1em;
  padding-top: 0.9em;
}

.glogo {
  font-size: 0.6em;
  line-height: 0.1em;
  padding-bottom: 0.9em;
}
#sortByDate {
  margin-top: 2.5em;
/*
  background: url('../assets/SVG-TESTING/time.svg') no-repeat;
  background-color: white;
  background-size: 2.5em;
*/
}
/*

#sortByLikes {
  background: url('../assets/SVG-TESTING/flame.svg') no-repeat;
  background-color: white;
  background-size: 1.1em;
}

#sortByMine {
  background: url('../assets/SVG-TESTING/heart2.svg') no-repeat;
  background-color: white;
  background-size: 1.4em;
}
*/
#loginKey {
  background: url('../assets/SVG-TESTING/key2.svg') no-repeat;
  height: 3em;
  width: 3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

#logoutDoor {
  background: url('../assets/SVG-TESTING/log-out.svg') no-repeat;
  height: 3em;
  width: 3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.loginShow {
  position: absolute;
  text-align: left;
  display: block;
}

.auth {
  height: 7em;
}

.loginForm {
  padding-top: 2.2em;
}

.activeAuthButt {
  font-weight: 700;
  border: 1px dashed black;
  background-color: yellow;
}

.logobar {
  font-size: 1.5em;
  height: 1.235em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
/*  right: 0;*/
  background-color: rgba(178, 228, 83, 0.8);
  color: #486e2a;
  border-left: 1px solid black;
  z-index: -3;
  text-transform: uppercase;
}

#globalInfo {
  display: inline-block;
  padding-left: 5em;
  z-index:  5454;
  /*! color: whitesmoke; */
}

.arrow-right {
  display: inline-block;
  text-overflow: hidden;
  position: absolute;
  background: #f2f2f2;
  width:2em;
  text-align:center;
  color: white;
  background-color: #4e9600;
  z-index: 2;
}

.arrow-right:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #4e9600;
  border-width: 0.56em;
  margin-top: -0.56em;
  z-index: 2;
}

.arrow-right:hover {
  cursor: pointer;
}

.arrow-left {
  display: inline-block;
  position: absolute;
  background-color: #e68049;
  color: white;
  width:2em;
  padding-left: 0.5em;
  right: 0;
}

.arrow-left:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #e68049;
  border-width: 0.58em;
  margin-top: -0.58em;
  white-space: nowrap;
}

.gnext {
  border-left: none;
  z-index: 1;
  background-color: #7bcc22;
  padding-left: 2.4em;
}

.gnext:after {
  border-left-color: #7bcc22;
}

.rainbow {
  height: 1px;
  background-color: white;
  margin-top: 5px;
}

#rainbow:nth-child(1) {
  background-color: red;
}

#listarea {
  padding-top: 3em;
  padding-left: 12em;
  list-style: none;
  width: 70%;
  max-width:  40em;
  position: relative;
  z-index: -3;
}

/*#pspacer {
  display: inline-block;
  color: yellow;
}*/

#progressbar {
  height: 100%;
  width: 10px;
  background: orangered;
  z-index: 5;
  /*! position: absolute; */
  /*! margin-top: 0.57em; */
}

#progresscontainer {
  width:  -moz-calc(100% - 18em);
  width:  -webkit-calc(100% - 18em);
  width:  calc(100% - 18em);
  height:  1.22em;
  /*! background:  blue; */
  position:  absolute;
  padding-left: 4.4em;
  z-index: -1;
}

#main-container {
  width: 100%;
  position: fixed;
}


.post {
  width: 100%;
  margin-bottom:  2em;
  color:  whitesmoke;
  border-radius: 0.3em;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}

.postimg {
  width: 100%;
  border-top-left-radius:  0.3em;
  border-top-right-radius:  0.3em;
}


.aleftpost {
  display: inline-block;
  position: absolute;
  background-color: #e68049;
  color: white;
  width:2em;
  padding-left: 0.5em;
  border-bottom-right-radius: 0.3em;
}

.aleftpost:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #e68049;
  border-width: 0.60em;
  margin-top: -0.60em;
  white-space: nowrap;
}

.singleplayer {
  width: 100%;
  border-left: none;
  border-radius: 0.4em;
  background: #9ee4e4;
}

.singleinfo {
  width: -moz-calc(100% - 7.5em);
  width: -webkit-calc(100% - 7.5em);
  width: calc(100% - 5.5em);
  vertical-align: middle;
  font-size-adjust: 0.3;
  color: #2c6b66;
  display: inline-block;
  z-index:  5454;
  margin-left: 3em;
}

.arightsingle {
  border-bottom-left-radius: 0.3em;
  background: #237d76;
}

.arightNext {
  background: #2dbbcc;
}

.arightsingle:after {
  border-left-color: #237d76;
}

.arightNext:after {
  border-left-color: #2dbbcc;
}

.foot {
  width: 100%;
  height: 20em;
  background: #237d76;
  border-top:  0.5em solid #fc0;
  color:  whitesmoke;
  padding-left: 0.1em;
  text-align: center;
}

.loadmore {
  width: 100%;
  height: 3em;
  border-radius: 0.3em;
  background: #e3e3e3;
  font-size: 2em;
  margin-bottom:  2em;
}

#recycle {
  height: 8em;
  display: inline-block;
  vertical-align: middle; 
}

.footLogo {
  display: inline-block;
  padding-top: 9em;
  padding-left: 1em;
}

#globalplaypause_image {
  height: 0.8em;
  vertical-align: middle;
}

#globalnext_image {
  height: 1.2em;
  vertical-align: middle;
}

#globalheart_image {
  height: 0.9em;
  vertical-align: middle;
}

.arlogo:hover {
  cursor: default;
}


.gnext0 {
  z-index: 7;
  background: #237d76;
}

.gnext1 {
  padding-left: 2.4em;
  z-index: 6;
  background: #9ee4e4;
}

.gnext2 {
  padding-left: 4.8em;
  z-index: 5;
  background: #51c23b;
}

.gnext3 {
  padding-left: 7.2em;
  z-index: 4;
  background: #9eda2a;
}

.gnext4 {
  padding-left: 9.6em;
  z-index: 3;
  background: #fc0;
}

.gnext5 {
  padding-left: 12.0em;
  z-index: 2;
  background: #ff7e00;
}

.gnext6 {
  padding-left: 14.4em;
  background: #844598;
  z-index: 1;
}


.gnext0:after {
  border-left-color: #237d76;
}

.gnext1:after {
  border-left-color: #9ee4e4;
}

.gnext2:after {
  border-left-color: #51c23b;
}

.gnext3:after {
  border-left-color: #9eda2a;
}

.gnext4:after {
  border-left-color: #fc0;
}

.gnext5:after {
  border-left-color: #ff7e00;
}

.gnext6:after {
  border-left-color: #844598;
}


#textme {
  font-size: 0.8em;
  padding-top: 3.5em;
  text-decoration: underline;
}
